.card-decision {
  font-size: x-small;
  width: 30%;
}

.card-decision.opened {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

div.backdrop {
  background-color: rgba(128, 128, 128, 0.336);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.card-resume {
  font-size: x-small;
  width: 30%;
  text-align: center;
}

div.card-content {
  cursor: pointer;
  padding: 0.2rem;
  text-align: center;
}

.button-icon {
  margin-left: 8px;
}

.card-footer {
  text-align: right;
  padding: 0 0 0 0.5rem;
}

.card-propertie {
  display: inline-block;
  margin: 0.5em 0;
}

.price {
  font-size: 1.3em;
  font-weight: 700;
  color: red;
}

.card-propertie span:last-child {
  margin-left: 0.5rem;
}

.card-propertie span:first-child {
  font-size: 1.3em;
  font-weight: 700;
}

.card-header {
  text-align: center;
}
